* {
  font-family:sans-serif;
}

body{
  background: #eee url(https://subtlepatterns.com/patterns/extra_clean_paper.png);
}

fieldset {
  width:280px;
  margin:10px;
  height:300px;
  float:left;
  overflow: auto
}

h1 {
  text-align:center;
}

a {
  margin-right:10px;
  color:black;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

nav {
  text-align:center;
}

#navigator {
  width:100%
}

input {
  margin:5px;
  width:199px;
  float:left;
}

textarea {
  margin:5px;
  width:410px;
  height:125px;
  resize: none;
  float:left;
}

select {
  width:250px;
  margin:5px;
}

#searchResults {
  width: 805px;
}

#add {
  width:1280px;
}

h6 {
  clear:both;
  text-align:center;
}
